ShaddyStore/ShaddyStore-war/web/WEB-INF/wsdl/localhost_8080/ShaddyStore-war/ShaddyStoreServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.web.shaddy.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.web.shaddy.org/">

<xs:element name="findByProductCode" type="tns:findByProductCode"/>

<xs:element name="findByProductCodeResponse" type="tns:findByProductCodeResponse"/>

<xs:element name="manufacturer" type="tns:manufacturer"/>

<xs:element name="product" type="tns:product"/>

<xs:element name="productCode" type="tns:productCode"/>

<xs:element name="retrieveListOfProducts" type="tns:retrieveListOfProducts"/>

<xs:element name="retrieveListOfProductsResponse" type="tns:retrieveListOfProductsResponse"/>

<xs:complexType name="retrieveListOfProducts">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveListOfProductsResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="available" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="manufacturerId" type="tns:manufacturer" minOccurs="0"/>
<xs:element name="markup" type="xs:decimal" minOccurs="0"/>
<xs:element ref="tns:productCode" minOccurs="0"/>
<xs:element name="productId" type="xs:int" minOccurs="0"/>
<xs:element name="purchaseCost" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityOnHand" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="manufacturer">
<xs:sequence>
<xs:element name="addressline1" type="xs:string" minOccurs="0"/>
<xs:element name="addressline2" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="fax" type="xs:string" minOccurs="0"/>
<xs:element name="manufacturerId" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
<xs:element name="rep" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="zip" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productCode">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="discountCode" type="xs:unsignedShort"/>
<xs:element name="prodCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByProductCode">
<xs:sequence>
<xs:element name="prodCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByProductCodeResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>